<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/public/css/main.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/public/js/login.js"></script>
</head>

<body>
    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <h3>Login for Student</h3>
                <form>
                    <div class="form-group">
                        <input id="studentUsername" type="text" class="form-control" placeholder="Your Username *"
                            value="" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="studentPassword" placeholder="Your Password *"
                            value="" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" id="studentLoginSubmit" value="Login">
                    </div>
                    <div class="form-group">
                        <a href="#" class="ForgetPwd">Forget Password?</a>
                    </div>
                </form>
            </div>
            <div class="col-md-6 login-form-2">
                <h3>Login for Teacher</h3>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="teacherUsername" placeholder="Your Username *"
                            value="" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="teacherPassword" placeholder="Your Password *"
                            value="" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" id="teacherLoginSubmit" value="Login">
                    </div>
                    <div class="form-group">
                        <a href="#" class="ForgetPwd" value="Login">Forget Password?</a>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <button type="button" class="btn btn-primary btn-lg btn-block" id="register-redirect">Register Here</button>
    </div>
</body>

</html>